spring:
  profiles:
    active: demo

  application:
    name: demo

  datasource:
    url: jdbc:h2:mem:demo-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  liquibase:
    enabled: true
    change-log: classpath:changelog/db.changelog-master.yml
    default-schema: PUBLIC
    drop-first: false

server:
  port: 3000

logging:
  level:
    root: INFO
    org.springframework.boot.autoconfigure: ERROR
    org.springframework.boot.autoconfigure.liquibase: WARN
    liquibase: WARN
    org.springframework.jdbc.core: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: WARN
