spring:
  datasource:
    url: jdbc:h2:mem:demo-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
  liquibase:
    enabled: true
    change-log: classpath:liquibase/db.changelog-homolog.yml
    default-schema: PUBLIC
    drop-first: false

server:
  port: 3000

logging:
  level:
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.liquibase: TRACE
